@font-face {
	font-family: Inter-fallback;
	size-adjust: 107%;
	src: local("Arial");
}

@font-face {
	font-family: InterVariable;
	font-weight: 1 999;
	font-display: swap;
	src: url("/fonts/Inter.var-subset.woff2") format("woff2");
}
