:root {
	--gutter: var(--space-s-m);
	/* TODO: what happens if the max width is just 80rem */
	--max-inline-size: min(80rem, 100vw);
	--max-vw-height: 100vh;
	--logo-height: var(--space-m-xl);
	--nav-link-padding: var(--space-xs-s);
	--header-height: calc(
		(2 * var(--nav-link-padding)) + (1em * var(--body-line-height))
	);
	--main-padding: var(--space-l-5xl);
	--section-gap: var(--space-3xl-4xl);
	--card-padding: var(--space-l);

	--heading-text-color: var(--green-100);
	--body-primary-color: var(--gray-200);
	--body-secondary-color: var(--gray-300);
	--body-bg-color: var(--gray-400);
	--card-bg-color: var(--white);
	--accent-darkest: var(--green-100);
	--accent-dark: var(--green-200);
	--accent: var(--green-300);
	--accent-opacity: var(--green-opacity);

	--font-plain: "InterVariable", Inter-fallback, system-ui, sans-serif;
	--font-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco,
		Consolas, "Liberation Mono", "Courier New", monospace;
	--body-line-height: 1.5;
	--heading-line-height: 1.05;
	--heading-letter-spacing: -0.03em;
	--text-letter-spacing: 0.03em;
}

@supports (height: 100svh) {
	:root {
		--max-vw-height: 100svh;
	}
}

:root {
	scroll-behavior: smooth;
}

body {
	color: var(--body-primary-color);
	background-color: var(--body-bg-color);

	font-family: var(--font-plain);
	font-size: var(--step-0);
	line-height: var(--body-line-height);
	-webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

main {
	--stack-gap: var(--section-gap);
	--stack-horizontal-alignment: stretch;
	padding-block: var(--main-padding);
}

h1,
h2,
h3 {
	color: var(--heading-text-color);
	font-weight: 500;
	line-height: var(--heading-line-height);
}

h1,
h2 {
	letter-spacing: var(--heading-letter-spacing);
}

h1 {
	font-size: var(--step-6);
}

h2 {
	font-size: var(--step-5);
}

h3 {
	font-size: var(--step-3);
}

p {
	max-inline-size: var(--text-line-length, 55ch);
}

a {
	color: inherit;
	text-underline-offset: var(--space-3xs);
	text-decoration-color: var(--accent-dark);
	/* text-decoration-thickness: 1.5px; */
	transition: all 200ms ease;
}

a:where(:hover, :focus-visible) {
	color: var(--accent-dark);
}

/* TODO: add focus styles */

/* TODO: check support for font-variant-caps */
em {
	color: var(--accent-dark);
	font-style: normal;
	font-weight: 400;
	font-variant-caps: all-small-caps;
	/* line-height: 1; */
}

.desc {
	--text-line-length: 46ch;
}

:where([id]:not(main)) {
	scroll-margin-top: calc((var(--section-gap) / 2) + var(--header-height));
}

/* @media (min-width: 48rem) {
	:target:not(#products) {
		box-shadow: inset 0 0 calc(var(--card-padding) * 0.25) var(--accent);
		border-radius: var(--space-2xs);
		padding: var(--card-padding);
	}
} */
