header {
	--cluster-gap: var(--space-l);
	--cluster-horizontal-alignment: space-between;
	--cluster-vertical-alignment: center;
	/* --cluster-vertical-alignment: end; */

	/* margin-block-start: var(--gutter); */
	/* border-radius: var(--space-3xs); */
}

/* header nav {
	--cluster-horizontal-alignment: start;
	margin-inline-start: auto;
} */

header nav ul {
	--cluster-gap: var(--space-s);
}

header nav a {
	position: relative;
	display: inline-block;
	padding-block: var(--nav-link-padding);
	text-decoration: none;
	transition: all 300ms ease;
}

header nav a:hover {
	font-weight: 500;
}

header .underline-illustration {
	position: absolute;
	inset-block-start: calc(
		100% - var(--nav-link-padding) - (0.125 * 1em * var(--body-line-height))
	);
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: var(--space-4xs);
}

header .underline-illustration .underline-path {
	stroke-dashoffset: 1.1;
	stroke: currentColor;
}

header a:where(:hover, :focus-visible) .underline-illustration .underline-path {
	animation-name: draw-path;
	animation-duration: 300ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.logo {
	block-size: var(--logo-height);
	inline-size: auto;
	/* TODO: used a magic number to fix the alignment */
	translate: 0 4px;
}

@media (max-width: 23.25rem) {
	header {
		--cluster-horizontal-alignment: center;
	}

	.logo {
		translate: 0 16px;
	}
}
