header {
	--cluster-gap: var(--space-l);
	--cluster-horizontal-alignment: space-between;
	--cluster-vertical-alignment: center;
	/* --cluster-vertical-alignment: end; */

	/* margin-block-start: var(--gutter); */
	/* border-radius: var(--space-3xs); */
}

/* header nav {
	--cluster-horizontal-alignment: start;
	margin-inline-start: auto;
} */

header nav ul {
	--cluster-gap: var(--space-s);
}

header nav a {
	display: inline-block;
	padding-block: var(--nav-link-padding);
	text-decoration: none;
	/* text-transform: uppercase; */
	/* letter-spacing: var(--text-letter-spacing); */
	/* font-size: var(--step--1); */
	/* font-weight: 500; */
}

header nav a:hover {
	text-decoration: revert;
}

.logo {
	block-size: var(--logo-height);
	inline-size: auto;
	/* TODO: used a magic number to fix the alignment */
	translate: 0 4px;
}

@media (max-width: 23.25rem) {
	header {
		--cluster-horizontal-alignment: center;
	}

	.logo {
		translate: 0 16px;
	}
}
