header {
	--cluster-gap: var(--space-xs);
	--cluster-horizontal-alignment: space-between;
	--cluster-vertical-alignment: center;
	/* --cluster-vertical-alignment: end; */

	/* margin-block-start: var(--gutter); */
	/* border-radius: var(--space-3xs); */
}

/* header nav {
	--cluster-horizontal-alignment: start;
	margin-inline-start: auto;
} */

header nav ul {
	--cluster-gap: var(--space-2xs);
}

header nav a {
	position: relative;
	display: inline-block;
	padding-block: var(--nav-link-padding);
	text-transform: uppercase;
	font-family: var(--font-monospace);
	color: var(--heading-text-color);
	text-decoration-color: var(--accent-dark);
	text-decoration: none;
}

header nav a:hover {
	color: var(--accent-dark);
	/* text-decoration-color: currentColor; */
}

header .underline-illustration {
	position: absolute;
	inset-block-start: calc(
		100% - var(--nav-link-padding) - (0.125 * 1em * var(--body-line-height))
	);
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: var(--space-4xs);
}

header .underline-illustration .underline-path {
	stroke-dashoffset: 1.1;
	stroke: currentColor;
}

header a:where(:hover, :focus-visible) .underline-illustration .underline-path {
	animation-name: draw-path;
	animation-duration: 300ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.logo {
	block-size: var(--logo-height);
	inline-size: auto;
	/* TODO: used a magic number to fix the alignment */
	translate: 0 4px;
}

@media (max-width: 23rem) {
	:root {
		--logo-height: var(--space-xl);
		--header-height: calc(
			var(--logo-height) + var(--nav-link-padding) +
				(2 * var(--nav-link-padding)) + (1em * var(--body-line-height))
		);
	}

	header {
		--cluster-gap: 0;
		--cluster-horizontal-alignment: center;
	}

	.logo {
		margin-block-start: var(--nav-link-padding);
		translate: 0 0;
	}
}
