#hero {
	--stack-horizontal-alignment: center;
	--stack-vertical-alignment: space-between;
	--stack-gap: var(--space-5xl-xl);
	--border-width: var(--space-4xs);

	/* block-size: calc(
		var(--max-vw-height) - var(--header-height) - var(--main-padding) +
			var(--border-width)
	);
	max-block-size: 54rem; */
	overflow: visible clip;
}

#hero .content {
	--stack-gap: var(--gutter);
	--stack-horizontal-alignment: center;
	position: relative;
	text-align: center;
}

#hero h1 {
	/* max-inline-size: 22ch; */
	font-size: var(--space-2xl-5xl);
	color: var(--red);
}

@supports (text-wrap: balance) {
	#hero h1 {
		text-wrap: balance;
	}
}

/* hidden by default because it looks ugly on smaller screens*/
#hero .desc {
	display: none;
	font-size: var(--step-1);
	color: var(--accent-darkest);
}

/* @supports (text-wrap: balance) {
	#hero .desc {
		text-wrap: balance;
	}
} */

/* we unhide it on larger screens because it works now */
/* magic number */
@media (min-width: 27.375rem) {
	#hero .desc {
		display: revert;
	}
}

#hero picture {
	inline-size: calc(100% + (2 * var(--gutter)));
	block-size: 100%;
	max-inline-size: 100vw;
}

#hero picture img {
	inline-size: 100%;
	block-size: 100%;
	min-block-size: 320px;
	object-fit: cover;
	object-position: top;
}
