.desc {
	--text-line-length: 49ch;
}

.contact-method {
	--cluster-gap: var(--space-2xs);
}

.about-contact-container {
	--grid-gap: var(--section-gap);
}

@media (min-width: 48rem) {
	.about-contact-container {
		--columns: 2;
	}
}

@media (prefers-reduced-motion: no-preference) {
	.has-js .fade-in {
		opacity: 0;
	}

	.has-js .fade-in[data-state="hidden"] {
		transform: translateY(2ex);
	}

	.has-js .fade-in[data-state="visible"] {
		opacity: 1;
		transition: transform 600ms cubic-bezier(0.42, 0, 0.32, 1.17),
			opacity 900ms cubic-bezier(0.42, 0, 0.32, 1.17) 300ms;
	}
}

/* if header was sticky we would need to add the header height as well */
/* :where([id]:not(main)) {
	scroll-margin-top: calc((var(--section-gap) / 2) + var(--header-height));
} */

:where([id]:not(main)) {
	scroll-margin-top: calc(var(--section-gap) / 2);
}

/* @media (min-width: 48rem) {
	:target:not(#products) {
		box-shadow: inset 0 0 calc(var(--card-padding) * 0.25) var(--accent);
		border-radius: var(--space-2xs);
		padding: var(--card-padding);
	}
} */
