:where(h2, h3) {
	--cluster-gap: var(--space-xs-s);
}

:where(h2, h3) svg {
	inline-size: 1em;
	block-size: 1em;
}

:where(h2, h3) svg path {
	fill: var(--accent-dark);
}

.desc {
	--text-line-length: 49ch;
}

@supports (text-wrap: balance) {
	.desc {
		text-wrap: balance;
	}
}

/* if header was sticky we would need to add the header height as well */
/* :where([id]:not(main)) {
	scroll-margin-top: calc((var(--section-gap) / 2) + var(--header-height));
} */

:where([id]:not(main)) {
	scroll-margin-top: calc(var(--section-gap) / 2);
}
