:where(h2, h3) {
	--cluster-gap: var(--space-xs-s);
}

:where(h2, h3) svg {
	inline-size: var(--step-4);
	block-size: var(--step-4);
}

:where(h2, h3) svg path {
	fill: currentColor;
}

.desc {
	--text-line-length: 49ch;
}

/* if header was sticky we would need to add the header height as well */
/* :where([id]:not(main)) {
	scroll-margin-top: calc((var(--section-gap) / 2) + var(--header-height));
} */

:where([id]:not(main)) {
	scroll-margin-top: calc(var(--section-gap) / 2);
}
