.product-gallery {
	--flow-space: var(--space-xl);
	position: relative;
	display: block;
}

.product-gallery:after {
	content: "";
	position: absolute;
	inset-block-start: calc(
		var(--button-padding-block) + (0.5 * (1em * var(--body-line-height)))
	);
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: 2px;
	background-color: var(--separator);
	z-index: -1;
}

.product-gallery summary {
	position: sticky;
	inset-block-start: calc(var(--header-height) + 1em);

	margin-inline: auto;
	padding: var(--button-padding);
	background-color: var(--card-bg-color);
	border: 2px solid var(--separator);
	border-radius: var(--space-2xs);
	font-weight: 500;
}

.product-gallery summary:hover {
	color: var(--accent-dark);
	border-color: currentColor;
}

.gallery-list {
	column-count: var(--columns, 2);
}

@media (min-width: 40rem) {
	.gallery-list {
		--columns: 4;
	}
}

@media (min-width: 64rem) {
	.gallery-list {
		--columns: 5;
	}
}

.gallery-list li {
	/* same as the grid gap of the product list  */
	--flow-space: 1em;
}

.gallery-list img {
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
	border-radius: var(--space-3xs);
}
