#gallery {
	padding-block-end: var(--section-inner-padding);
}

.gallery-list {
	--flow-space: var(--space-xl);
	column-count: var(--columns, 2);
}

@media (min-width: 30rem) {
	.gallery-list {
		--columns: 3;
	}
}

@media (min-width: 40rem) {
	.gallery-list {
		--columns: 4;
	}
}

@media (min-width: 64rem) {
	.gallery-list {
		--columns: 5;
	}
}

.gallery-list li {
	/* same as the grid gap of the product list  */
	--flow-space: 1em;
}

.gallery-list img {
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
}
