.product-category-list {
	position: relative;
	background: var(--card-bg-color);
	border-radius: var(--card-bdrs);
}

.product-category-list > li {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--card-padding-block);
	padding: var(--card-padding);
}

.product-category-list > li + li {
	border-block-start: calc(0.5 * var(--outline-width)) solid var(--separator);
}

@media (min-width: 40rem) {
	.product-category-list > li {
		grid-template-columns: min-content auto;
	}
}

.product-category-list h3 .counter {
	display: none;
	font-size: var(--step--1);
	letter-spacing: var(--text-letter-spacing);
	text-transform: uppercase;
	inline-size: 4ch;
	block-size: 4ch;

	color: var(--accent-darkest);
	border-width: 0 0 calc(0.5 * var(--outline-width))
		calc(0.5 * var(--outline-width));
	border-style: solid;
	border-color: currentColor;
	border-radius: 0 0 0 var(--space-3xs);
}

@media (min-width: 40rem) {
	.product-category-list h3 {
		display: flex;
		gap: 1ex;
		justify-content: space-between;
		flex-direction: column;
		block-size: calc(
			100% - var(--space-2xs) - (var(--step--1) * var(--body-line-height))
		);
		text-align: unset;
	}

	.product-category-list h3 .counter {
		display: grid;
		place-items: center;
	}
}

/* .product-category-list .pfas-free {
	block-size: 1em;
	inline-size: auto;
	vertical-align: middle;
	rotate: -1deg;
} */

.product-items-list {
	--grid-gap: var(--space-s);
	display: grid;
	/* fluid columns, but max out at 5 */
	grid-template-columns: repeat(
		auto-fill,
		minmax(min((50% - var(--grid-gap)), max(10rem, 100%/6)), 1fr)
	);
	gap: var(--grid-gap);
}

.product-items-list li > button {
	--stack-gap: var(--space-2xs);
	--stack-horizontal-alignment: center;
	color: var(--heading-text-color);
	font-size: var(--step--1);
	letter-spacing: var(--text-letter-spacing);
	text-transform: uppercase;
}

.product-items-list li picture {
	inline-size: 100%;
	overflow: hidden;
}

.product-items-list img {
	inline-size: 100%;
	block-size: auto;
	object-fit: cover;
	transition: scale 400ms ease;
}

.product-items-list button:where(:hover, :focus-visible) img {
	scale: 1.05;
}
