.product-materials-list {
	--flow-space: var(--space-xl);
	--grid-gap: 1em;
}

.product-materials-list > li {
	--stack-gap: var(--gutter);
	--stack-vertical-alignment: space-between;
	background-color: var(--card-bg-color);
	border-radius: var(--space-2xs);

	position: relative;
	overflow: hidden;

	container-type: inline-size;
	transition: all 400ms ease;
}

.product-materials-list .content {
	padding: var(--card-padding);
}

.product-materials-list h3 {
	--cluster-gap: var(--space-2xs);
}

.product-materials-list h3 span {
	position: relative;
}

.product-materials-list .pfas-free {
	block-size: 1em;
	inline-size: auto;
	vertical-align: middle;
	rotate: -1deg;
}

.product-materials-list .underline-illustration {
	position: absolute;
	inset-block-start: 100%;
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: var(--space-3xs-2xs);
	z-index: -1;
}

.product-materials-list img {
	max-block-size: 250px;
	object-fit: cover;
	object-position: top;
	mix-blend-mode: darken;
}

/* duplicate each declaration in this rule 
in the support query below as well
because the media query range is not similar  */
@media (min-width: 70rem) {
	.product-materials-list img {
		position: absolute;
		inset-block-start: 0;
		inset-inline-end: 0;
		max-block-size: unset;
		block-size: 100%;
		object-position: bottom left;

		inline-size: 280px;
	}

	/* the CSS custom property is being set by JS  */
	/* Without JS, the declaration the resulting value would be invalid at computed value time (IACVT)  */
	.has-js .product-materials-list img {
		max-block-size: calc(var(--max-height) * 1px);
	}
}

/* same as the rule above */
@supports (max-width: 50cqw) {
	@container (min-width: 34rem) {
		.product-materials-list img {
			position: absolute;
			inset-block-start: 0;
			inset-inline-end: 0;
			max-block-size: unset;
			block-size: 100%;
			object-position: bottom left;

			inline-size: 50cqw;
		}

		/* the CSS custom property is being set by JS  */
		/* Without JS, the declaration the resulting value would be invalid at computed value time (IACVT)  */
		.has-js .product-materials-list img {
			max-block-size: calc(var(--max-height) * 1px);
		}
	}
}

.product-category-list {
	--flow-space: var(--card-padding);
}

/* @supports not selector(:has(+ *)) {
	.product-category-list {
		padding-inline-start: 1em;
	}
} */

/* .product-category-list > li {
	list-style-position: outside;
} */

.product-category-list > li {
	display: flex;
}

@supports selector(:has(+ *)) {
	.product-category-list li:has(> details) {
		/* to align the list items visually*/
		margin-inline-start: 0.25ch;
	}

	.product-category-list > li:not(:has(> details))::before {
		/* content: "→   "; */
		content: "";
		display: inline-block;
		inline-size: 1em;
		block-size: calc(1em * var(--body-line-height));
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 109 58'%3E%3Cg stroke='%23646866' stroke-linecap='round' stroke-miterlimit='10' stroke-width='16' clip-path='url(%23a)'%3E%3Cpath d='M8.69 28.28c20.93-.41 62.37 2.42 91.68 3.07M100.37 31.35c-4.19 2.38-29.44 14.79-35.72 17.72M100.37 31.35C97.02 28 79.58 13.91 74.13 8.75'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M.5 57.5V.5h108v57z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: center;
		margin-inline-end: var(--space-2xs);
		/* vertical-align: top; */
	}
}

.product-category-list li {
	--flow-space: 0.75em;
}

@supports (block-size: 1lh) {
	.product-category-list li {
		--flow-space: 0.5lh;
	}
}

.product-category-list li summary:hover,
.product-category-list li summary:focus-visible {
	color: var(--accent-dark);
	outline-color: var(--outline-color);
}

.product-subtype-list {
	margin-block-start: var(--flow-space);
}

.product-subtype-list,
.product-subtype-list li {
	--flow-space: 0.375em;
}

[open] .product-subtype-list {
	animation: appear 0.4s ease forwards;
	overflow: hidden;
}

@keyframes appear {
	0% {
		transform: translate(-0.5ch, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translate(0, 0);
	}
}
