.view-more {
	display: none;
	/* border-block-end: 1px solid currentColor; */
	color: var(--heading-color);
}

.view-more::before {
	content: "▾ ";
	display: inline-flex;
	color: var(--accent);
	line-height: 1;
	/* transform: scale(1.4); */
	scale: 1.4;
	rotate: 0deg;
	font-family: var(--font-monospace);
	/* transition: rotate 400ms ease; */
	text-decoration: none;
}

.has-js .view-more {
	translate: 0 -100%;
	position: relative;
	z-index: 1;

	display: flex;
	align-items: baseline;
	gap: var(--icon-text-gap);

	margin-inline: auto;
	font-weight: 500;
}

.has-js .view-more[aria-expanded="true"] {
	translate: 0 0;
}

.has-js .view-more[aria-expanded="true"]::before {
	rotate: 180deg;
}

/* 'gallery' items */
.gallery-list[data-state="hidden"] {
	-webkit-mask-image: linear-gradient(#000 50%, transparent);
	mask-image: linear-gradient(#000 50%, transparent);
	overflow: hidden;
}

@media (max-width: 29.9375rem) {
	.gallery-list[data-state="hidden"] > :nth-child(n + 5) {
		display: none;
	}
}

@media (max-width: 39.9375rem) {
	.gallery-list[data-state="hidden"] > :nth-child(n + 7) {
		display: none;
	}
}

@media (max-width: 63.9375rem) {
	.gallery-list[data-state="hidden"] > :nth-child(n + 9) {
		display: none;
	}
}

@media (min-width: 64rem) {
	.gallery-list[data-state="hidden"] > :nth-child(n + 11) {
		display: none;
	}
}
