.view-more {
	display: none;
}

.view-more::before {
	content: "▾ ";
	display: inline-flex;
	color: var(--accent);
	line-height: 1;
	/* transform: scale(1.4); */
	scale: 1.4;
	rotate: 0deg;
	font-family: var(--font-monospace);
	text-decoration: none;
}

.has-js .view-more {
	--flow-space: var(--space-xl);

	position: absolute;
	inset-block-end: 1em;
	inset-inline-start: 50%;
	translate: -50% 0;
	z-index: 1;

	display: flex;
	align-items: baseline;
	gap: var(--icon-text-gap);
	margin-inline: auto;
	transition: unset;
}

.has-js .view-more[aria-expanded="true"] {
	position: static;
	translate: 0 0;
	z-index: unset;
}

.has-js .view-more[aria-expanded="true"]::before {
	rotate: 180deg;
}

/* 'gallery' items */
#gallery[data-hidden] {
	overflow: hidden;

	block-size: 38.125rem;
	isolation: isolate;
}

section#gallery[data-hidden]:after {
	content: "";
	position: absolute;
	inset: 0;

	background: var(--body-bg-color);
	-webkit-mask-image: linear-gradient(transparent 50%, #000);
	mask-image: linear-gradient(transparent 50%, #000);
	overflow: hidden;

	pointer-events: none;
}
