{%- extends "layouts/base.html" -%}

{%- block content -%}
  {%- include "partials/hero-section.html" -%}
  {%- include "partials/product-section.html" -%}
  <div class="grid">
    {%- include "partials/about-section.html" -%}
    {%- include "partials/contact-section.html" -%}
  </div>
  {{ content | safe }}
  {# TODO: defer scripts? #}
  <script>
    const header = document.querySelector(".site-head");
    const intercept = document.createElement("div");

    intercept.setAttribute("data-observer-intercept", "");
    header.before(intercept);

    const observer = new IntersectionObserver(([entry]) => {
      // header.classList.toggle("sticky", !entry.isIntersecting);
      header.toggleAttribute("data-sticky", !entry.isIntersecting);
    });

    observer.observe(intercept);
  </script>
{%- endblock -%}