{%- extends "layouts/base.html" -%}

{%- block content -%}
  {%- include "partials/hero-section.html" -%}
  {%- include "partials/product-section.html" -%}
  {% include "partials/product-gallery.html" %}
  <div class="grid" data-variant="2-columns">
    {%- include "partials/about-section.html" -%}
    {%- include "partials/qc-section.html" -%}
  </div>
  {%- include "partials/contact-section.html" -%}
  {{ content | safe }}
{%- endblock -%}

{%- block bodyScripts -%}
  <script>
    // higher order functions
    function doSomething(array, instructions) {
      for (const element of array) {
        instructions(element);
      }
    }

    function doSomethingOnClick(array, instructions) {
      for (const element of array) {
        element.addEventListener("click", (event) => {
          instructions(element);
        });
      }
    }
  </script>
  <script>
    let observer = null;

    if ('IntersectionObserver' in window) {
      observer = new IntersectionObserver(
        (changes, observer) => {
          let timeout = 0;

          changes.forEach(change => {
            if (change.intersectionRatio > 0) {
              timeout += 100;
              setTimeout(() => {
                change.target.setAttribute('data-state', 'visible');
              }, timeout);
            }
          });
        },
        {
          root: null,
          rootMargin: '0px',
          threshold: 0
        }
      );
    }

    function setHiddenAttributeAndObserve(element) {
      element.setAttribute('data-state', 'hidden');
      observer.observe(element);
    }

    const fadeInElements = document.querySelectorAll('.fade-in');
    doSomething(fadeInElements, setHiddenAttributeAndObserve);

  </script>
  <script>
    function showDialog(element) {
      const parentElement = element.parentElement;
      const dialogElement = parentElement.querySelector("dialog");
      if (dialogElement) {
        dialogElement.showModal();
      }
    }

    function closeDialog(element) {
      const dialogElement = element.closest('dialog');
      if (dialogElement) {
        dialogElement.close();
      }
    }

    function closeDialogWhenClickedOutside(element) {
      if(event.target.matches('dialog')) {
        element.close();
      }
    }
    
    const showDialogButtonList = document.querySelectorAll(".show-dialog");
    const dialogList = document.querySelectorAll("dialog");
    const closeDialogButtonList = document.querySelectorAll(".close-dialog");

    doSomethingOnClick(showDialogButtonList, showDialog);
    doSomethingOnClick(dialogList, closeDialogWhenClickedOutside);
    doSomethingOnClick(closeDialogButtonList, closeDialog);
  </script>
  <script src="/scripts/toggle-disclosure.js" defer></script>
{%- endblock -%}
