<section id="contact" class="flow">
  <h2>{{ contact.heading }}</h2>
  <p class="desc">
    {{ contact.description }}
  </p>
  <p>
    <span class="icon-container">
      {% include "partials/mail.html" %}
    </span>
    Mail:
    <a href="mailto:{{ contact.email }}">
      {{ contact.email }}
    </a>
  </p>
  <p>
    <span class="icon-container">
      {% include "partials/phone.html" %}
    </span>
    Phone:
    <a href="tel:{{ contact.phone }}">
      {{ contact.phone }}
    </a>
  </p>
</section>