<header class="site-head cluster">
  <a class="home-page" href="/">
    {# TODO: use 11ty image plugin #}
    {# TODO: check for a11y #}
    <img class="logo" src="/images/wordmark.webp" alt="" width="3182" height="594" />
  </a>
  <nav>
    <ul class="cluster" role="list">
      {# TODO: use 11ty navigation? #}
      <li>
        <a href="#products">
          Products
          {# {% include "partials/underline.html" %} #}
        </a>              
      </li>
      <li>
        <a href="#about">
          About
          {# {% include "partials/underline.html" %} #}
        </a>              
      </li>
      <li>
        <a href="#contact">
          Contact
          {# {% include "partials/underline.html" %} #}
        </a>              
      </li>
    </ul>
  </nav>
</header>