<header class="site-head cluster">
  <a class="home-page" href="/" aria-label="Home">
    {% include "partials/wordmark-logo.html" %}
  </a>
  <nav>
    <ul class="cluster" role="list">
      <li>
        <a href="#products">
          Products
          {% include "partials/underline.html" %}
        </a>              
      </li>
      <li>
        <a href="#about">
          About
          {% include "partials/underline.html" %}
        </a>              
      </li>
      <li>
        <a href="#contact">
          Contact
          {% include "partials/underline.html" %}
        </a>              
      </li>
    </ul>
  </nav>
</header>