<dialog class="product-dialog">
  <div class="dialog-content flow">
    <p class="dialog-title">
      {{ category.title.split(' ')[0] }} {{ item.name | safe }}
      {%- include "partials/underline.html" -%}
    </p>
    <ul class="flow" role="list">
      {# TODO: update when the content is ready #}
      {% for item in products.list[1].category %}
        <li class="cluster">{{ item.title }}</li>
      {% endfor %}
    </ul>
    <button class="close-dialog">
      {%- include "partials/close.html" -%}
    </button>
    {% include "partials/product-inquiry.html" %}
  </div>
</dialog>

