<section id="gallery" class="disclosure-widget flow" aria-hidden="true">
  <h2 class="cluster fade-in">
    <span>{{ gallery.heading }}</span>
    {%- include "partials/columns.html" -%}
  </h2>
  <p class="desc fade-in">
    {{ gallery.description }}
  </p>
  <ul class="gallery-list flow" role="list">
    {%- for image in collections.gallery -%}
      <li>
        {%- set source = "src/images/gallery/" + image.data.source -%}
        {%- set alt = image.data.alt -%}
        {%- set sizes = "(min-width: 64rem) 20vw, (min-width: 40rem) 25vw, 50vw" -%}
        {%- set loading = "lazy" -%}
        {%- set fetchPriority = "low" -%}
        {% image source , alt, sizes, loading, fetchPriority %}
      </li>
    {%- endfor -%}
  </ul>
  <button
    class="view-more btn"
    aria-hidden="true"
    tabindex="-1"
  >
    View More <span class="vh">images in the {{ gallery.heading }}</span>
  </button>
</section>