<ul class="product-materials-list grid" role="list">
  {% for product in products.list %}
    <li class="stack">
      <div class="content flow">
        <h3 class="cluster">
          <span>
            {{ product.title }}
            {% include "partials/underline.html" %}
          </span>
          {% if product.specialText %}
            <span class="icon-container">
              {% include "partials/pfas-free.html" %}
            </span>
          {% endif %}
        </h3>
        <ul class="product-category-list flow" role="list">
          {% for item in product.category %}
            {% if item.type %}
              <li>
                <details>
                  <summary>
                    {{ item.title | addNbsp | safe }}
                  </summary>
                  <ul class="product-subtype-list flow">
                    {% for item in item.type %}
                      <li>{{ item }}</li>
                    {% endfor %}
                  </ul>
                </details>
              </li>
            {% else %}
              <li>{{ item.title | addNbsp | safe }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {%- set source = "src/images/" + product.image.source -%}
      {%- set alt = product.image.alt -%}
      {%- set sizes = "(min-width: 70rem) 25vw, (min-width: 36.1875rem) 50vw, 100vw" -%}
      {%- set loading = "lazy" -%}
      {%- set fetchPriority = "auto" -%}
      {% image source , alt, sizes, loading, fetchPriority %}
    </li>
  {% endfor %}
</ul>
