<section id="gallery" class="flow">
  <h2 class="fade-in">
    {{ gallery.heading }}
  </h2>
  <p class="desc fade-in">
    {{ gallery.description }}
  </p>
  {# TODO: provide alt #}
  <ul class="gallery-list flow disclosure-widget" role="list">
    {%- for image in collections.gallery -%}
      <li>
        {%- set source = "src/images/gallery/" + image.data.source -%}
        {%- set alt = image.data.alt -%}
        {%- set sizes = "(min-width: 64rem) 20vw, (min-width: 40rem) 25vw, 50vw" -%}
        {%- set loading = "lazy" -%}
        {%- set fetchPriority = "low" -%}
        {% image source , alt, sizes, loading, fetchPriority %}
      </li>
    {%- endfor -%}
  </ul>
  <button
    class="view-more btn"
    aria-expanded="false"
    aria-controls="about-content"
  >
    View More <span class="vh">images in the {{ gallery.heading }}</span>
  </button>
</section>