<dialog class="product-dialog">
  <div class="dialog-content">
    <p class="dialog-title">
      {{ category.title.split(' ')[0] }} {{ item.name | safe }}
      {%- include "partials/underline.html" -%}
    </p>
    {% if item.variants | length > 1 %}  
      <ul class="product-vairants flow" role="list">
        {% for vairant in item.variants %}
          <li>{{ vairant }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="product-vairants">
        <p>
          {% for vairant in item.variants %}
            {{ vairant }}
          {% endfor %}
        </p>
      </div>
    {% endif %}
    <button class="close-dialog">
      {%- include "partials/close.html" -%}
    </button>
    {% include "partials/product-inquiry.html" %}
  </div>
</dialog>

